
.logo-top{
    width: 50px;
    height: 50px;
}

.datos{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}
.subimg{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 150px;
}
.body{
    background-color:beige;
}
.card{
    display: flex;
    margin-top: 40px;
    min-width: 250px;

}
.card-deck{
    display: flex;
    justify-content: center;
    margin-top: 40;
    margin-left: 40px;
    margin-right: 40px;
    flex-flow:row wrap ;
}
.card-img-top{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    object-fit: contain;
}
.card-title{
    display: flex;
    justify-content: center;
}
