.top{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 50px;
    color: floralwhite;
    background-color: rgb(32, 32, 32);
}
.logo{
    width: 35px;
    height: 35px;
    position: relative;
    float: left;
    margin-right: 230px;
}
.logo2{
    width: 35px;
    height: 35px;
    position: relative;
    float: right;
    margin-right: 40px;
}
.top ul li {
    list-style-type: none;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.top ul li::after{
content: "";
height: 100%;
width: 260px;
}
.top ul{
    display: flex;
    flex-direction: row;
}
.datos{
    display: flex;
    justify-content: center;
    color: floralwhite;
}
.datos1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.body{
    background-color: rgb(18, 18, 18);
}