
.logo-top{
    width: 50px;
    height: 50px;
}
.nav-item{
    margin-left: 60px;
}
.btn{
    margin-left: 1px;
}
.menubar{
    width: 40px;
    height: 40px;
}
.carrito{
    width: 60px;
    height: 50px;
    margin-left: 30px;
}
.datos{
    width: 360px;
    height: 130px;
    display: flex;
    justify-content: center;
    margin-top:10px;
}
.subimg{
    display: flex;
    justify-content: center;
    width: 160px;
    height: 70px;
    margin-top: 50px;
}
.body{
    background-color:beige;
}
.list-group{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.list-group-item{
    margin-top: 10px;
}
.Copyright{
    display:flex;
    justify-content:center;
    background-color: rgb(19, 18, 18);
    margin-top: 20px;
    width: 100%;
}
.pie{
    margin-top: 20px;
    color: gray;
}
@media screen and (max-width:800px) {
    .noticias{
        display: none;
    }
}
@media screen and (max-width:1045px) {
    .btn{
        display: none;
    }
}